DB_NAME='e-commerce'
MONGODB_URI='your mongodb uri'
PORT=

CLOUDINARY_CLOUD_NAME='your cloudinary cloud name'
CLOUDINARY_API_KEY='cloudinary api key'
CLOUDINARY_API_SECRET='cloudinary api secret'

JWT_SECRET='jwt secret string'

ADMIN_EMAIL='your email'
ADMIN_PASSWORD='xxxxxxxxxx'